body{
	margin: 0;
	font-family: Helvetica, sans-serif;
	font-size: 20px;
	line-height: 30px;
}

/* header styles */

header{
	background-color: #e8c5c1;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	font-family: 'Handlee', cursive;
}

header h1{
	color: white;
	font-size: 50px;
	font-family: 'Handlee', cursive;
}

header img{
	border-radius: 150px;
	border: 15px solid #00c790; 
}

/* main body styles */

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}
main img{
	max-width: 100%;
}

a{
	color: #e8c5c1;
}

a:hover{
	color: white;
	background-color: #00c790;
}

h2{
	font-size: 30px;
	color: #e8c5c1;
	margin: 40pix 0 10px;
}

p.caption{
	color: #00c790;
	font-family:  'Handlee', cursive;
	font-size: 50px;
	font-style: bold;
	margin-top: 10;
}

/* footer styles */

footer{
	background-color: #e8c5c1;
	text-align: center;
	padding: 50px;
}

footer p{
	margin: 0;
}

footer a{
	color: white;
}

footer a:hover{
	opacity: .5;
	background-color: transparent;
}